<!DOCTYPE html>
<html lang="ko">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/css/admin_styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <header>
        <h1>관리자 페이지</h1>
    </header>
    <nav th:replace="fragments/admin_nav :: nav"></nav>

    <main>
        <h2>환영합니다, 관리자님!</h2>
    </main>
</div>

<script src="/js/admin.js"></script>
</body>
</html>
