<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비회원 주문 확인</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/order-detail.css">
</head>
<body th:data-purchase-id="${orderNumber}">
<h2>주문내역</h2>
<div class="order-info">
    <div>
        <p>주문 번호:</p>
        <p th:text="${guestorder.orderNumber}">주문 번호</p>
    </div>
    <div>
        <p>주문 날짜:</p>
        <p th:text="${guestorder.createdAt}">주문 날짜</p>
    </div>
    <div>
        <p>상태:</p>
        <p th:text="${guestorder.status.toString()}">상태</p>
    </div>
    <div>
        <p>총 금액:</p>
        <p th:text="${guestorder.totalPrice()}+' ₩'">총 금액</p>
    </div>
</div>

<form method="post" th:action="@{'/orders/guests/{purchaseId}' (purchaseId = ${guestorder.orderNumber().toString()})}">
    <button type="submit" class="confirm-order-btn" th:if="${guestorder.status.toString() != 'CONFIRMATION'
                        and guestorder.status.toString() != 'REFUNDED_REQUEST' and guestorder.status.toString() != 'REFUNDED_COMPLETED'}">
        주문 확정
    </button>
</form>


<!-- 결제 취소 버튼 (COMPLETED 상태인 경우)-->
<button class="refund-btn"
        th:if="${guestorder.status.toString() == 'COMPLETED'}"
        th:attr="data-order-id=${guestorder.orderNumber}"
        th:text="'결제 취소'"
        onclick="cancelOrder()">
</button>

<div class="order-details">
    <ul class="book-list">
        <li class="book-item" th:each="book, iter : ${guestorderbooks}">
            <img th:src="@{/api/images/book/download(fileName=${book.readBookByPurchase().bookImage()})}"
                 th:data-book-image="${book.readBookByPurchase().bookImage()}" alt="Product Image">
            <div class="book-details">
                <p style="font-size: 18px" th:text="${book.readBookByPurchase().title()}">Product</p>
                <p style="font-size: 16px" th:text="${book.readBookByPurchase().author()}">저자</p>
                <p style="font-size: 14px" th:text="${book.readBookByPurchase().publisher()}">출판사</p>
            </div>
            <div class="book-quantity-price">
                <p>수량 : <span th:text="${book.quantity()}"></span></p>
                <p>₩<span th:text="${book.price()}"></span></p>
            </div>
        </li>

    </ul>



</div>

<script>
    function cancelOrder() {
        const orderNumber = document.querySelector('.refund-btn').getAttribute('data-order-id');
        window.location.href = '/refund/guests/' + orderNumber;
    }
</script>

</body>
</html>