<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Success</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" th:href="@{/css/main/default.css}">
    <link rel="stylesheet" th:href="@{/css/detail/book-detail.css}">
    <style>
        .info-box {
            background-color: #f8f9fa;
            border-radius: 8px;
            border: 1px solid #dee2e6;
            padding: 15px;
            margin-bottom: 15px;
        }

        .form-group label {
            font-weight: bold;
        }

        .btn-lg {
            padding: 10px 20px;
            font-size: 1.25rem;
            line-height: 1.5;
            border-radius: .3rem;
        }
        .info-box h4 {
            margin: 0;
            padding: 10px 0;
        }
        .form-group label {
            font-weight: bold;
        }
        .form-group {
            margin-bottom: 20px;
        }
        @font-face {
            font-family: 'YourFont';
            src: url('/fonts/YouandiModernTR.ttf') format('truetype');
        }
        * {
            font-family: 'YourFont', sans-serif;
        }
    </style>
</head>
<body>
<!-- Header -->
<header class="header-custom" th:replace="fragments/no-nav-header :: header"></header>


<main class="container my-5">
    <div class="checkout-header text-center">
        <h2>결제 성공</h2>
    </div>

    <h4>주문 내역</h4>
    <div th:each="item : ${response}" class="cart-item d-flex justify-content-between align-items-center">
        <div class="cart-item-info d-flex align-items-center">
            <img th:src="@{/api/images/book/download(fileName=${item.url()})}"
                 src="/static/img/no-image.png" alt="Product Image" class="mr-3" style="width: 150px">
            <div style="margin-left: 10px">
                <h4 th:text="${item.title()}">Product</h4>
                <p>₩<span th:text="${item.price()}"></span></p>
                <div class="d-flex align-items-center">
                    <input type="hidden" th:id="${item.bookId()}" th:value="${item.bookId()}">
                    <input type="hidden" th:id="${item.bookCartId()}" th:value="${item.bookCartId()}">
                    <input type="number" class="form-control mx-2 quantity-input" th:value="${item.quantity}" readonly>
                </div>
            </div>
        </div>
        <br/>
    </div>

    <!-- 총 금액 -->
    <div class="form-group">
        <label for="total-price">총금액</label>
        <div class="info-box">
            <h4 id="total-price" th:text="${amount}">Product</h4>
        </div>
    </div>

    <!-- 배송지 -->
    <div class="form-group">
        <label for="address">배송지</label>
        <div class="info-box">
            <h4 id="address" th:text="${address}">address</h4>
        </div>
    </div>

    <!-- 주문 아이디 -->
    <div class="form-group">
        <label for="order-id">주문아이디</label>
        <div class="info-box">
            <h4 id="order-id" th:text="${orderId}">orderId</h4>
        </div>
    </div>

    <!-- 설정한 패스워드 -->
    <div class="form-group">
        <label for="password">설정한 패스워드</label>
        <div class="info-box">
            <h4 id="password" th:text="${password}">password</h4>
        </div>
    </div>

    <!-- 홈 버튼 -->
    <div class="form-group text-center">
        <a href="/" class="btn btn-primary btn-lg">홈으로</a>
    </div>

    <!-- JavaScript to handle confirmation -->
    <script th:inline="javascript">
        // 쿼리 파라미터 값이 결제 요청할 때 보낸 데이터와 동일한지 반드시 확인하세요.
        // 클라이언트에서 결제 금액을 조작하는 행위를 방지할 수 있습니다.
        var urlParams = new URLSearchParams(window.location.search);
        var paymentKey = urlParams.get("paymentKey");
        var orderId = urlParams.get("orderId");
        var amount = urlParams.get("amount");
        var cartId = urlParams.get("cartId");
        var address = urlParams.get("address");
        var password = urlParams.get("password");
        var isPacking = urlParams.get("isPacking");
        var shipping = urlParams.get("shipping");

        async function confirm() {
            const requestData = {
                paymentKey: paymentKey,
                orderId: orderId,
                amount: amount,
            };

            const response = await fetch("/purchases/guests/confirm?cartId="+cartId+"&address="+address+"&password="+password+"&isPacking="+isPacking +"&shipping="+shipping ,{
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(requestData),
            });
            console.log(response);

            const json = await response.json();

            if (!response.ok) {
                // 결제 실패 비즈니스 로직을 구현하세요.
                console.log(json);
                window.location.href = `/payments/guests/fail?message=${json.message}&code=${json.code}`;
            }

            // 결제 성공 비즈니스 로직을 구현하세요.
            console.log(json);
        }
        confirm();

        //const paymentKeyElement = document.getElementById("payment-key");
        const orderIdElement = document.getElementById("order-id");
        const amountElement = document.getElementById("total-price");

        orderIdElement.textContent = "주문번호: " + orderId;
        amountElement.textContent = "결제 금액: " + amount;
        //paymentKeyElement.textContent = "paymentKey: " + paymentKey;
    </script>
</main>

<!-- footer -->
<footer class="header-custom" th:replace="fragments/footer :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>