<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/main/default.css}">
    <link rel="stylesheet" th:href="@{/css/detail/book-detail.css}">
    <style>
        .info-box {
            background-color: #f8f9fa;
            border-radius: 8px;
            border: 1px solid #dee2e6;
            padding: 15px;
            margin-bottom: 15px;
        }

        .form-group label {
            font-weight: bold;
        }

        .btn-lg {
            padding: 10px 20px;
            font-size: 1.25rem;
            line-height: 1.5;
            border-radius: .3rem;
        }
        @font-face {
            font-family: 'YourFont';
            src: url('/fonts/YouandiModernTR.ttf') format('truetype');
        }
        * {
            font-family: 'YourFont', sans-serif;
        }
    </style>
</head>
<body>
<!-- Header -->
<header class="header-custom" th:replace="fragments/no-nav-header :: header"></header>


<main class="container my-5">
    <h2>결제 성공</h2>

    <h4>주문 내역</h4>
    <div th:each="item : ${response}" class="cart-item d-flex justify-content-between align-items-center">
        <div class="cart-item-info d-flex align-items-center">
            <img th:src="@{/api/images/book/download(fileName=${item.url()})}"
                 src="/static/img/no-image.png" alt="Product Image" class="mr-3" style="width: 150px">
            <div style="margin-left: 10px">
                <h4 th:text="${item.title()}">Product</h4>
                <p>₩<span th:text="${item.price()}"></span></p>
                <div class="d-flex align-items-center">
                    <input type="hidden" th:id="${item.bookId()}" th:value="${item.bookId()}">
                    <input type="hidden" th:id="${item.bookCartId()}" th:value="${item.bookCartId()}">
                    <input type="number" class="form-control mx-2 quantity-input" th:value="${item.quantity}" readonly>
                </div>
            </div>
        </div>
        <br/>
    </div>
    <div class="checkout-header text-center">
        <h2>주문 요약</h2>
    </div>

    <form>
        <!-- 총 금액 -->
        <div class="form-group">
            <label for="total-amount">총금액</label>
            <div class="info-box">
                <h4 id="total-amount" th:text="${amount}">amount</h4>
            </div>
        </div>

        <!-- 사용 포인트 -->
        <div class="form-group">
            <label for="used-point">사용 포인트</label>
            <div class="info-box">
                <h4 id="used-point" th:text="${discountedPoint}">discountedPoint</h4>
            </div>
        </div>

        <!-- 사용 쿠폰 아이디 -->
        <div class="form-group">
            <label for="coupon-id">사용 쿠폰아이디</label>
            <div class="info-box">
                <h4 id="coupon-id" th:text="${couponFormId}">couponFormId</h4>
            </div>
        </div>

        <!-- 총 할인 금액 -->
        <div class="form-group">
            <label for="total-discount">총 할인 금액</label>
            <div class="info-box">
                <h4 id="total-discount" th:text="${discountedPrice}">discountedPrice</h4>
            </div>
        </div>

        <!-- 포장 유무 -->
        <div class="form-group">
            <label for="is-packing">포장 유무</label>
            <div class="info-box">
                <h4 id="is-packing" th:text="${isPacking}">isPacking</h4>
            </div>
        </div>

        <!-- 배송 일정 -->
        <div class="form-group">
            <label for="shipping-date">배송 일정</label>
            <div class="info-box">
                <h4 id="shipping-date" th:text="${shipping}">shipping</h4>
            </div>
        </div>

        <!-- 배송지 -->
        <div class="form-group">
            <label for="delivery-address">배송지</label>
            <div class="info-box">
                <h4 id="delivery-address" th:text="${road}">road</h4>
            </div>
        </div>

        <!-- 주문 아이디 -->
        <div class="form-group">
            <label for="order-id">주문아이디</label>
            <div class="info-box">
                <h4 id="order-id" th:text="${orderId}">orderId</h4>
            </div>
        </div>

        <!-- 결제 타입 -->
        <div class="form-group">
            <label for="payment-type">결제타입</label>
            <div class="info-box">
                <h4 id="payment-type" th:text="${paymentType}">paymentType</h4>
            </div>
        </div>

        <!-- 결제 키 -->
        <div class="form-group">
            <label for="payment-key">결제키</label>
            <div class="info-box">
                <h4 id="payment-key" th:text="${paymentKey}">paymentKey</h4>
            </div>
        </div>

        <!-- 홈 버튼 -->
        <div class="form-group text-center">
            <a href="/" class="btn btn-primary btn-lg">홈으로</a>
        </div>
    </form>
    <p id="paymentKey"></p>
    <p id="orderId"></p>
    <p id="amount"></p>
</main>

<!-- footer -->
<footer class="header-custom" th:replace="fragments/footer :: footer"></footer>

<script th:inline="javascript">
    // 쿼리 파라미터 값이 결제 요청할 때 보낸 데이터와 동일한지 반드시 확인하세요.
    // 클라이언트에서 결제 금액을 조작하는 행위를 방지할 수 있습니다.
    const urlParams = new URLSearchParams(window.location.search);
    const paymentKey = urlParams.get("paymentKey");
    const orderId = urlParams.get("orderId");
    const amount = urlParams.get("amount");

    const discountedPoint = urlParams.get("discountedPoint");
    const couponFormId = urlParams.get("couponFormId");
    const discountedPrice = urlParams.get("discountedPrice");
    const isPacking = urlParams.get("isPacking");
    const shipping = urlParams.get("shipping");
    const road = urlParams.get("road");

    async function confirm() {
        const requestData = {
            paymentKey: paymentKey,
            orderId: orderId,
            amount: amount,

        };

        const response = await fetch("/purchases/members/confirm?discountedPoint=" + discountedPoint + "&couponFormId=" + couponFormId + "&discountedPrice=" + discountedPrice + "&isPacking=" + isPacking + "&road=" + road + "&shipping=" + shipping ,{
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(requestData),
        });
        console.log(response);

        const json = await response.json();

        if (!response.ok) {
            // 결제 실패 비즈니스 로직을 구현하세요.
            console.log(json);
            window.location.href = `/payments/members/fail?message=${json.message}&code=${json.code}`;
        }

        // 결제 성공 비즈니스 로직을 구현하세요.
        console.log(json);
    }

    confirm();

    const paymentKeyElement = document.getElementById("paymentKey");
    const orderIdElement = document.getElementById("orderId");
    const amountElement = document.getElementById("amount");

    orderIdElement.textContent = "주문번호: " + orderId;
    amountElement.textContent = "결제 금액: " + amount;
    paymentKeyElement.textContent = "paymentKey: " + paymentKey;
</script>
</body>
</html>