<nav>
    <button onclick="navigateTo('/admin/book/management')">도서 관리</button>
    <button onclick="navigateTo('/admin/category/management')">도서 카테고리 관리</button>
    <button onclick="navigateTo('/admin/tag/management')">도서 태그 관리</button>
    <button onclick="navigateTo('/admin/review/management')">리뷰 관리</button>
    <button onclick="navigateTo('/admin/orders')">주문 관리</button>
    <button onclick="navigateTo('/admin/refund/all')">환불 관리</button>
    <button onclick="navigateTo('/admin/purchases')">쿠폰 포인트 관리</button>
    <button onclick="navigateTo('/admin/users')">사용자 관리</button>
</nav>

