<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <style>
        .menu-desktop {
            background-color: white;
            padding: 15px 0;
        }
        .error-message {
            color: red;
            font-weight: bold;
        }
        .success-message {
            color: green;
            font-weight: bold;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
    <meta name="theme-color" content="#712cf9">
</head>
<body>
<!-- Header -->
<header class="header-v4">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light menu-desktop">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand logo" href="#">
                3runner
            </a>
            <!-- Toggler/collapsible Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar links -->
<!--            <div class="collapse navbar-collapse" id="collapsibleNavbar">-->
<!--                <ul class="navbar-nav ml-auto">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="login.html">Login</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="register.html">Register</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>
    </nav>
</header>
<body>
    <div class="d-flex">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div class="flex-grow-1">
    <main class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="mb-4">Register</h2>
                <div id="email-check-message"></div> <!-- 이메일 체크 메시지 표시 -->
                <form id="registrationForm">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <div class="input-group">
                            <input type="email" class="form-control" id="email" placeholder="Enter email" required>
                            <div class="input-group-append">
                                <button type="button" id="checkEmailButton" class="btn btn-secondary">이메일 확인</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" minlength="6" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Full name" minlength="1" maxlength="10" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="tel" class="form-control" id="phone" placeholder="Phone number" minlength="10" maxlength="11" required>
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" class="form-control" id="age" placeholder="Age">
                    </div>
                    <div class="form-group">
                        <label for="birthday">Birthday</label>
                        <input type="date" class="form-control" id="birthday" placeholder="Date of Birth">
                    </div>
                    <button type="submit" id="submitBtn" class="btn btn-primary" disabled>Submit</button>
                </form>
            </div>
        </div>
        </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/fragments/header.js}"></script>
    <div th:replace="fragments/footer :: footer"></div>
</body>
<footer class="bg-white text-dark p-3">
    <div class="container text-center">
        &copy; 2024 3runner
    </div>
</footer>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('registrationForm');
        const checkEmailButton = document.getElementById('checkEmailButton');
        const emailCheckMessage = document.getElementById('email-check-message');
        const submitBtn = document.getElementById('submitBtn');
        let isEmailAvailable = false;

        checkEmailButton.addEventListener('click', function() {
            const email = document.getElementById('email').value;
            if (!email) {
                emailCheckMessage.textContent = "이메일을 입력하세요.";
                emailCheckMessage.className = 'error-message';
                return;
            }

            fetch(`/member/email?email=${encodeURIComponent(email)}`, {
                method: 'GET',
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (!data.header.successful) {
                        throw new Error('API 요청 실패');
                        console.log("1");
                    }

                    if (data.body.data) {
                        emailCheckMessage.textContent = "이미 존재하는 이메일입니다.";
                        emailCheckMessage.className = 'error-message';
                        isEmailAvailable = false;
                        console.log("2");
                    } else {
                        emailCheckMessage.textContent = "사용 가능한 이메일입니다.";
                        emailCheckMessage.className = 'success-message';
                        isEmailAvailable = true;
                        console.log(3);
                    }
                    submitBtn.disabled = !isEmailAvailable;
                })
                .catch(error => {
                    console.error('Error:', error);
                    emailCheckMessage.textContent = "이메일 확인 중 오류가 발생했습니다.";
                    emailCheckMessage.className = 'error-message';
                });
        });

        form.addEventListener('submit', function(e) {
            if (!isEmailAvailable) {
                e.preventDefault();
                emailCheckMessage.textContent = "이메일 확인을 완료하세요.";
                emailCheckMessage.className = 'error-message';
                return;
            }

            e.preventDefault(); // 기본 폼 제출 행동 방지

            // 폼 데이터를 JSON 객체로 수집
            const formData = {
                email: document.getElementById('email').value,
                password: document.getElementById('password').value,
                name: document.getElementById('name').value,
                phone: document.getElementById('phone').value,
                age: document.getElementById('age').value,
                birthday: document.getElementById('birthday').value
            };

            // fetch API 사용하여 JSON 데이터와 함께 POST 요청 보내기
            fetch('/member', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json' // 요청의 본문이 JSON임을 명시
                },
                body: JSON.stringify(formData) // JSON 객체를 문자열로 변환
            })
                .then(response => response.text()) // HTML로 응답을 받음
                .then(html => {
                    document.body.innerHTML = html;// 전체 body의 내용을 받은 HTML로 교체
                    window.location.href = '/'; // "/"로 리다이렉트
                })
                .catch(error => console.error('Error:', error));
        });
    });
</script>

</body>
</html>
