<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            text-align: center;
        }
        .jumbotron {
            width: 100%;
        }
        .btn-custom {
            width: 230px; /* 버튼의 고정 너비를 설정합니다. 필요에 따라 조정하세요. */
        }
        .btn-group-custom {
            display: flex;
            justify-content: center;
            gap: 20px; /* 버튼 사이의 간격을 설정합니다. 필요에 따라 조정하세요. */
        }
        .menu-desktop {
            background-color: white;
            padding: 15px 0;
        }
    </style>
</head>
<body>

<!-- Header -->
<header class="header-v4">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light menu-desktop">
        <div>
            <!-- Logo -->
            <a class="navbar-brand logo" href="#">
                3runner
            </a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">login</a>
                    </li>
                    <li class="nav-item">
                        <form id="logoutForm" action="/logout" method="post" style="display: none;"></form>
                        <a class="nav-link" href="#"
                           onclick="document.getElementById('logoutForm').submit(); return false;">logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="mypage.html">my page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="register.html">register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/carts">cart</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <div class="jumbotron">
        <h1>주문 파트 테스트 메인 화면</h1>

        <p class="lead ">TEST 장바구니 담기</p>
        <p class="btn-group-custom">
            <form action="/carts" method="post">
                <label for="bookId">bookId</label>
                <input type="number" id="bookId" name="bookId" value="3"/>

                <label for="quantity">quantity</label>
                <input type="number" id="quantity" name="quantity" value="1"/>
                <button type="submit" class="btn btn-lg btn-primary btn-custom">TEST 장바구니 담기</button>
            </form>
        </p>
        <p class="btn-group-custom">

        <form action="/purchases" method="POST">
            <input type="hidden" id="quantity1" name="quantity" value="1">
            <label for="bookId1">bookId</label>
            <input type="number" id="bookId1" name="bookId" value="1"/>
            <button type="submit"class="btn btn-lg btn-primary btn-custom">TEST 바로 구매</button>
        </form>
        </p>

        <p class="lead ">책 상세 화면 가기</p>

        <p class="btn-group-custom">

            <a class="btn btn-lg btn-primary btn-custom" href="/book/1">북1 상세 화면 가기</a>

            <a class="btn btn-lg btn-primary btn-custom" href="/book/2">북2 상세 화면 가기</a>

            <a class="btn btn-lg btn-primary btn-custom" href="/book/3">북3 상세 화면 가기</a>

        </p>

        <p class="lead ">마이페이지 내역 확인</p>
        <p class="btn-group-custom">

            <a class="btn btn-lg btn-primary btn-custom" href="/mypages/coupons">쿠폰 내역</a>

            <a class="btn btn-lg btn-primary btn-custom" href="/mypages/points">포인트 내역</a>

            <a class="btn btn-lg btn-primary btn-custom" href="/orders/members">주문 내역</a>
        </p>
    </div>
</div>

<footer class="bg-white text-dark p-3">
    <div class="container text-center">
        &copy; 2024 3runner
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>